::selection {
    background: #ffff64;
    color: black;
}

.line {
    margin: 1em;
}
.line.hideLine {
    color: white;
}

.stage, .scene {
    color: black;
}

.stage {font-style: italic;}
span.stage::before {content: "(";}
span.stage::after {content: ")";}
.hideLine > span.stage {
    color: white;
}

.scene {
    font-size: 20px;
    font-weight: bold;
}

.name {
    font-weight: bold;
    color: black;
}

table td:nth-child(1), th {
    font-style: normal;
}

td {
    padding: 0.5em;
}

.highlight .name {
    background-color: yellow;
}