body {
    background-color: #ffffff;
    color: #000000;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin: 0;
    font-size: 100%;

    -webkit-font-smoothing: antialiased;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 700px) {
    [class*="col-"] {
        min-width: 25%;
    }
}

@media screen and (max-width: 600px) {
    [class*="col-"] {
        min-width: 33.33%;
    }
}

@media screen and (max-width: 500px) {
    [class*="col-"] {
        min-width: 50%;
    }
}

@media screen and (max-width: 350px) {
    [class*="col-"] {
        min-width: 100%;
    }
}

.overlay {
    min-height: 100vh;
    width: 100vw;
}

#barbox {
    height: 100vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    background-image: url("../img/HopiGray.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: auto 100vh;
}

#goalbar {
    height: 0;
    max-height: 100vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #652032;
    background-image: url("../img/Hopi.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: auto 100vh;
    box-shadow: 0px -1px 2px 0px grey;
}

.goalbar-sect {
    width: 100vw;
    animation-name: goalbarhoveroff;
    animation-duration: 0.5s;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 350ms;
}

.goalbar-sect:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}

.goalbar-sect:hover {
    animation-name: goalbarhover;
    animation-duration: 0.5s;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.goalbar-sect .overlay {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 100vw;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
}

.goalbar-sect .data {
    position: fixed;
    z-index: 10;
    width: 65vw;
    height: 100vh;
    top: 0;
    left: 100vw;
    margin-left: 15vw;
    padding: 10vw;
    background-color: #ffffff;
    cursor: default;
    box-shadow: -1px 0px 2px 0px grey;
}

#goalbar .close {
    position: fixed;
    z-index: 11;
    margin-left: 7.5vw;
    bottom: 10vh;
    text-align: center;
    width: 100vw;
    font-size: 0.85em;
    pointer-events: none;
}

#number, #goal {
    font-size: 1.5em;
    position: fixed;
    margin-left: 5vw;
    pointer-events: none;
}

#number {
    font-weight: bold;
    color: #ffffff;
}

#goal {
    margin-top: -1.4em;
}

#goal.below {
    margin-top: 1.4em;
    color: #ffffff;
}

.portrait #number, .portrait #goal {
    padding: 3px 1em;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.75);
    display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: "Raleway", "Lato", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

h4 {
    font-style: italic;
}

hr {
    display: block;
    height: 1px;
    width: 50%;
    max-width: 500px;
    border: 0;
    border-top: 2px solid #000000;
    margin: 3em auto;
    padding: 0;
}

body > .overlay {
    position: relative;
}

#contentbox {
    box-shadow: 0px 0px 15px 1px grey;
    background: #ffffff;
    color: #000000;
    position: relative;
    width: 90vw;
    margin-left: 5vw;
    min-height: 100vh;
    margin-top: 105vh;
    margin-bottom: -30px;
}

#content {
    width: 75vw;
    max-width: 800px;
    margin: 0 auto;
    padding: 3em 0;
}

.title {
    font-size: 1.25em;
    font-weight: bold;
}

.box {
    box-shadow: 0px 0px 5px 0px grey;
    padding: 0.75em;
    margin: 0.5em 0;
}

.small {
    margin-left: 1em;
    font-weight: 300;
    font-size: 1em;
}

#departure {
    text-align: right;
    margin-top: -2.5em;
    font-weight: bold;
    font-size: 1.17em;
}

#countdown {
    margin-left: 0.5em;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.1em;
}

#smallscreen {
    display: none;
}

#title {
    text-align: left;
}

@media screen and (max-width: 700px) {
    #title {
        text-align: center;
    }
    
    #departure {
        margin-top: 0;
        text-align: center;
    }

    #smallscreen {
        display: block;
    }
}

#blog {
    font-size: 1em;
}

.center {
    text-align: center;
}